@use 'main/reset';
@use 'main/fonts';
@use 'main/main';
@use 'main/variables';
@use 'main/mixin';

@use 'main/header';
@use 'main/footer';


@use 'index/title';
@use 'index/perf';
@use 'index/full';
@use 'index/comp';
@use 'index/hist';
@use 'index/part';
@use 'index/qul';
@use 'index/serf';
@use 'index/step';
@use 'index/form';
@use 'index/ab';
@use 'index/more';
@use 'index/onas';
@use 'index/ars';
@use 'index/sovr';
@use 'index/map';


@use 'wp/archive';