@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  width: 1240px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.header {
  padding: 20px 0;
}
.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
.header_top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.header_top_menu_li a {
  font-weight: 500;
  font-size: 16px;
}
.header_top_menu_li a:hover {
  color: #F15F43;
}
.header_top_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}
.header_top_two_item {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #F8F8F8;
  font-weight: 400;
  font-size: 14px;
}
.header_top_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_top_soc_item {
  font-weight: 700;
  font-size: 16px;
  position: relative;
}
.header_top_soc_item:hover .header_top_soc_item_menu {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 110%;
  top: 100%;
  left: -6px;
  border-radius: 2px;
  padding: 6px;
}
.header_top_soc_item_menu {
  display: none;
}
.header_top_soc_item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_bottom {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_bottom_icon {
  height: 54px;
  width: 178px;
}
.header_bottom_icon img {
  width: 100%;
  height: 100%;
}
.header_bottom_search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 20px 0 32px;
  border-radius: 2px;
  padding: 14px 18px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}
.header_bottom_search_input {
  border: none;
  background-color: #F8F8F8;
}
.header_bottom_search_input::-webkit-input-placeholder {
  color: #939DB8;
}
.header_bottom_search_input::-moz-placeholder {
  color: #939DB8;
}
.header_bottom_search_input:-ms-input-placeholder {
  color: #939DB8;
}
.header_bottom_search_input::-ms-input-placeholder {
  color: #939DB8;
}
.header_bottom_search_input::placeholder {
  color: #939DB8;
}
.header_bottom_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}
.header_bottom_soc_item {
  padding: 11px 11px 10px 10px;
}
.header_bottom_soc_item img {
  height: 35px;
  width: 35px;
}

.title {
  padding: 80px 0;
}
.title_wrapper {
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: 36px;
}
.title_text_h1 {
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 115%;
}
.title_text_descr {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
}
.title_text_wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}
.title_text_wrapper_button:nth-child(1) {
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  background-color: #F15F43;
  color: #fff;
}
.title_text_wrapper_button:nth-child(2) {
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  background-color: #E8EBEE;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.title_text_wrapper_button:nth-child(2) img {
  width: 24px;
  height: 24px;
}