@use '../main/mixin' as *;

.header {
    padding: 20px 0;
    &_top {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 17px;
        &_menu {
            display: flex;
            gap: 25px;
            justify-content: flex-start;
            align-items: center;
            margin-right: auto;
            &_li {
                a {
                    font-weight: 500;
                    font-size: 16px;
                    &:hover {
                        @include color;
                    }
                }

            }
        }
        &_two {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            &_item {
                border-radius: 5px;
                padding: 5px 10px;
                background: var(--grey-light4);
                font-weight: 400;
                font-size: 14px;
            }
        }
        &_soc {
            display: flex;
            justify-content: flex-end;
            gap: 17px;
            align-items: center;
            &_item {
                font-weight: 700;
                font-size: 16px;
                position: relative;
                &:hover {
                    .header_top_soc_item_menu {
                        display: block;
                        position: absolute;
                        background-color: #fff;
                        width: 110%;
                        top: 100%;
                        left: -6px;
                        border-radius: 2px;
                        padding: 6px;
                    }
                }
                &_menu {
                    display: none;
                }
                &_text {
                    display: flex;
                    justify-content: center;
                    gap: 5px;
                    align-items: center;
                }
            }
        }
    }
    &_bottom {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_icon {
            height: 54px;
            width: 178px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &_search {
            flex: 1;
            margin: 0 20px 0 32px;
            border-radius: 2px;
            padding: 14px 18px;
            background: var(--grey-light4);
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            &_input {
                border: none;
                background: var(--grey-light4);
                &::placeholder {
                    color: #939DB8;
                }
            }
        }
        &_soc {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            &_item {
                padding: 11px 11px 10px 10px;
                img {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
    &_mobile {
        display: none;
        top: 0;
        &_img {
            img {
                width: 106px;
                height: 32px;
            }
        }
        &_main {
            display: flex;
            justify-content: space-between;
            &_burger {
                width: 30px;
                height: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span {
                    display: block;
                    height: 4px;
                    background-color: #333;
                    border-radius: 2px;
                    transition: all 0.3s ease;
                }

            }

        }
        &_top {
            position: fixed;
            background: #ffffff;
            width: 100vw;
            height: calc(100vh - 70px);
            right: -110%;
            top: 70px;
            padding: 30px 20px;
            border-top: 2px solid #fff;
            transition: all 0.3s ease;
        }
    }
    .active_menu {
        .header_mobile_main_burger {
            span:nth-child(1) {
                transform: translateY(10px) rotate(45deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: translateY(-10px) rotate(-45deg);
            }
        }
        .header_mobile_top {
            right: 0px;
        }
        .header_top_soc_item {
            display: none;
        }
    }

}