.container {
    margin: 0 auto;
    width: 1240px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: var(--black-white-black);
}
.nav {
  padding: 20px 0;
  &_wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
  }
  &_item {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--grey-light1);
    &::before {
      content: '>';
      margin-right: 8px;
    }
    &:last-child {
      color: #111;
    }
    &:first-child {
      &::before {
        content: '';
        margin-right: 0;
      }
    }
  }
}