@mixin color {
    color: #F15F43;
}

@mixin bg {
    background-color: #F15F43;
}

@mixin butred {
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 24px;
    text-align: center;
    background-color: #F15F43;
    color: #fff;
}


@mixin butgrey {
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 24px;
    text-align: center;
    background-color: #E8EBEE;
    color: #111;
    display: flex;
    justify-content: center;
    gap: 10px;
    img {
        width: 24px;
        height: 24px;
    }
}