@mixin color {
    color: var(--primary-main);
}

@mixin bg {
    background-color: var(--primary-main);
}

@mixin butred {
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 24px;
    text-align: center;
    background-color: var(--primary-main);
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


@mixin butgrey {
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 24px;
    text-align: center;
    background-color: var(--grey-light3);
    color: #111;
    display: flex;
    justify-content: center;
    gap: 10px;
    img {
        width: 24px;
        height: 24px;
    }
}