:root {
	--grey-light4: #f8f8f8;
	--grey-light3: #e8ebee;
	--grey-light2: #d4d8e3;
	--grey-light1: #939db8;
	--grey-main: #707a8a;
	--grey-dark1: #424b65;
	--grey-dark2: #343c51;
	--grey-dark3: #2a3040;
	--primary-light4: #fff7f6;
	--primary-light3: #fde6e1;
	--primary-light2: #fabdb1;
	--primary-light1: #f88b76;
	--primary-main: #f15f43;
	--primary-dark0: #d74f33;
	--primary-dark1: #aa3f2a;
	--primary-dark2: #672113;
	--primary-dark3: #450e07;
	--black-white-black: #020001;
	--black-white-white: #fff;
}