@use '../main/mixin' as *;

.comp {
    margin-top: 120px;
    &_main {
        display: flex;
        justify-content: space-between;
    }
    &_mob {
        display: none;
    }
    &_title {
        font-weight: 600;
        font-size: 45px;
        line-height: 115%;
    } 
    &_button {
        @include butred;
    }
    &_grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    &_item {
        &_photo {
            border-radius: 5px;
            height: 280px;
            display: block;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_wrapper {
            margin-top: 20px;
        }
        &_title {
            margin-top: 20px;
            font-weight: 600;
            font-size: 22px;
            line-height: 130%;
        }
        &_descr {
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 200%;
        }
    }
}