@use '../main/mixin' as *;

.form {
    margin-top: 120px;
    &_wrapper {
        border-radius: 10px;
        padding: 40px 50px 50px;
        background-color: #111;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 114px;
            width: 90%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #2A3040;
            filter: blur(50px);
            z-index: -1;
        }
    }
    &_text {
        &_title {
            font-weight: 600;
            font-size: 50px;
            line-height: 115%;
            color: #fff;
        }
        &_wrapper {
            margin-top: 30px;
            display: flex;
            justify-content: flex-start;
            gap: 8px;
            flex-wrap: wrap;
        }
        &_item {
            border-radius: 5px;
            padding: 5px 10px;
            background: rgba(255, 255, 255, 0.2);
            font-weight: 600;
            font-size: 14px;
            line-height: 130%;
            color: #fff;
            white-space: nowrap;
        }
    }
    &_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 25px;
        align-content: start;
        input {
            border: none;
            border-radius: 2px;
            padding: 16.5px 18px;
            background: var(--grey-light4);
            ::placeholder {
                font-weight: 600;
                font-size: 18px;
                line-height: 130%;
                color: var(--grey-light1);
            }
            &:first-child {
                grid-column: 1/3;
            }
        }
        &_text {
            margin-top: 10px;
            display: flex;
            justify-content: flex-start;
            gap: 12px;
            align-items: center;
            &_p {
                font-weight: 500;
                font-size: 18px;
                line-height: 130%;
                color: var(--grey-main);
            }
        }
        &_button {
            grid-row: 4/5;
            margin-top: 21px;
            @include butred;
        }
    }
}