@use '../main/mixin' as *;

.part {
    margin-top: 120px;
    &_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    &_main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &_title {
            font-weight: 600;
            font-size: 45px;
            line-height: 115%;
        }
        &_descr {
            margin-top: 30px;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
        }
        &_phone {
            @include butred;
            margin-top: 16px;
        }
        &_price {
            margin-top: 30px;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
        }
        &_button {
            margin-top: 16px;
            @include butgrey;
        }
    }
    &_block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    &_item {
        border-radius: 5px;
        padding: 16px 20px;
        background: var(--grey-light4);
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        gap: 14px;
        &_photo {
            height: 58px;
            min-width: 58px;
            img {
                height: 100%;
            }
        }
        &_title {
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
        }
        &_descr {
            margin-top: 5px;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
        }
    }
}