@use '../main/mixin' as *;

.step {
    margin-top: 120px;
    &_maintitle {
        font-weight: 600;
        font-size: 45px;
        line-height: 115%;
    }
    &_wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        gap: 30px;
        align-content: flex-start;
    }
    &_num {
        font-weight: 700;
        font-size: 50px;
        line-height: 115%;
        color: var(--primary-main);
    }
    &_title {
        margin-top: 16px;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
    }
    &_descr {
        margin-top: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }
}