@use '../main/mixin' as *;

.archive {
    &_title {
        margin-top: 30px;
        &_name {
            font-weight: 600;
            font-size: 45px;
            line-height: 115%;
        }
        &_nav {
            margin-top: 24px;
            display: flex;
            justify-content: flex-start;
            gap: 12px 8px;
            flex-wrap: wrap;
            &_item {
                padding: 11.5px 16px;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                text-align: center;
                border-radius: 96px;
                background: var(--grey-light4);
                white-space: nowrap;
                &_active {
                    font-weight: 600;
                    box-shadow: 0 1px 4px 0 rgba(60, 83, 135, 0.09), 0 1px 10px 1px rgba(74, 80, 94, 0.05);
                    background: var(--primary-main);
                    color: #fff;
                }
            }
        }
    }
    &_fifter {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        align-items: center;
        svg {
            margin-top: 3px;
        }
    }
    &_main {
        margin-top: 16px;
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: 20px;
    }
    &_pog {
        display: flex;
        justify-content: center;
        gap: 6px;
        margin-top: 40px;
        &_item {
            border: 1px solid var(--grey-light3);
            border-radius: 5px;
            padding: 6px 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            &_active {
                border: 1px solid var(--primary-main);
                color: var(--primary-main);
            }
            &:hover {
                border: 1px solid var(--primary-main);
                color: var(--primary-main);
            }
        }
    }
    &_text {
        margin-top: 90px;
        &_title {
            font-weight: 600;
            font-size: 35px;
            line-height: 115%;
        }
        &_descr {
            margin-top: 24px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
        }
        &_more {
            font-weight: 600;
            font-size: 35px;
            line-height: 115%;
        }
        &_wrapper {
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 16px 24px;
            margin-bottom: 40px;
            &_item {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: var(--primary-main);
            }
        }
    }
    &_items {
        &_wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            align-items: start;
            gap: 16px 20px;
        }
        &_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            gap: 20px;
            border: 1px solid var(--grey-light3);
            border-radius: 5px;
            padding: 16px;
            &_top {
                &_img {
                    height: 160px;
                    img {
                        border-radius: 2px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &_descr {
                    margin-top: 12px;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 150%;
                    color: var(--grey-light1);
                }
                &_title {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 130%;
                }
                &_wrapper {
                    margin-top: 4px;
                    &_item {
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 150%;
                        color: var(--grey-dark1);
                    }
                }
            }
            &_buttons {
                &_price {
                    background: var(--grey-light4);
                    padding: 4px;
                    &_sup {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 150%;
                        text-decoration: line-throu gh;
                        text-align: center;
                        color: var(--grey-main);
                    }
                    &_main {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 130%;
                        text-align: center;
                        color: var(--grey-main);
                    }
                }
                &_col {
                    margin-top: 8px;
                    padding: 6px 12px;
                    display: flex;
                    justify-content: space-between;
                    background: var(--grey-light4);
                    &_main {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 130%;
                        text-align: center;
                    }
                    &_plus {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            color: var(--primary-main);
                        }
                    }
                    &_mun {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            color: var(--primary-main);
                        }
                    }
                }
                &_buy {
                    margin-top: 8px;
                    display: grid;
                    grid-template-columns: 1fr auto;
                    justify-content: space-between;
                    gap: 8px;
                    &_more {
                        border-radius: 2px;
                        padding: 12px 20px;
                        background: var(--grey-light3);
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 130%;
                        text-align: center;
                    }
                    &_shop {
                        border-radius: 2px;
                        padding: 12px 20px;
                        background: var(--primary-main);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    &_side {
        &_category {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 16px;
            justify-content: flex-start;
            padding-bottom: 20px;
            border-bottom: 1px solid var(--grey-light3);
            &_item {
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: var(--primary-main);
            }
        }
        &_title {
            padding-top: 20px;
            padding-bottom: 8px;
            font-weight: 600;
            font-size: 30px;
            line-height: 115%;
        }
        &_block {
            padding: 16px 0;
            border-bottom: 1px solid var(--grey-light3);
            &_title {
                font-weight: 600;
                font-size: 14px;
                line-height: 115%;
            }
            &_wrapper {
                margin-top: 12px;
                display: flex;
                flex-wrap: wrap;
                gap: 8px 6px;
                justify-content: flex-start;
            }
            &_item {
                border: 1px solid var(--grey-light3);
                border-radius: 96px;
                padding: 6px 10px;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                text-align: center;
                color: var(--grey-dark1);
                cursor: pointer;
                &_active {
                    border: 1px solid var(--primary-main);
                    color: var(--primary-main);
                }
                &:hover {
                    border: 1px solid var(--primary-main);
                    color: var(--primary-main);
                    transform: scale(1.02);
                }
            }
            &_buttons {
                display: flex;
                justify-content: space-between;
                gap: 8px;
                margin-top: 12px;
                &_button {
                    border: none;
                    padding: 13.5px 16px;
                    border-radius: 2px;
                    background: var(--grey-light4);
                    width: 100%;
                }
            }
            &:nth-last-of-type(4) {
                border-bottom: 0;
            }
        }
        &_col {
            display: flex;
            gap: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            margin-top: 25px;
        }
        &_submit {
            margin-top: 24px;
            @include butred;
        }
        &_delite {
            margin-top: 25px;
            display: flex;
            justify-content: center;
            gap: 6px;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            color: var(--primary-main);
        }
    }
}
