@use '../main/mixin' as *;

.tov {
    margin-top: 30px;
    &_title {
        font-weight: 600;
        font-size: 45px;
        line-height: 115%;
    }
    &_wrapper {
        display: grid;
        grid-template-columns: 68fr 48fr;
        gap: 20px;
        margin-top: 40px;
    }
    &_galery {
        overflow: hidden;
        position: relative;
        height: 430px;
        &_photos {
            display: flex;
            flex-wrap: nowrap;
            height: 100%;
            transition: transform 0.3s ease;
            &_item {
                min-width: 100%;
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
        &_button {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            gap: 8px;
            &_btn {
                border-radius: 1px;
                width: 9px;
                height: 9px;
                background: var(--grey-light2);
                &_active {
                    background: var(--primary-main);
                }
            }
        }
    }
}